@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    
}

body{
    background-color: black;
    color: #ECECEC;
    margin: 0;
    
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.img-principal{
    width: 280px;
    height: 238px;
    margin: 14px auto 18px;
}

h1{
    color: white;
    font-size: 32px;
    margin-bottom:16px;
    font-weight: 500;
    font-family:'Dosis', sans-serif;;
}

strong{
    font-weight: bold;
    color: #EE24FF;
}


.alertas{
    color: #ef9ff7;
    font-weight: bold
}

p{
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    
}

.flutuar{
    font-weight: bold;
    
}


a + a{
    margin-left: 42px;
}

a{
    text-decoration: none;
    color: #ef9ff7;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

a:hover{
    border-bottom:1px solid #ECECEC;
}

footer{
    text-align: center;
    border-top: 1px solid #ECEFF2;
    margin: 25px auto 0px;
    width: 300px;
    padding: 16px;
}

@media(max-width:620px){
    main{
        width: 90%;
    }
    h1{
        font-size: 28px;
    }
    p{
        font-size: 14px;
    }
}